.hero {
  background-color: $yellow;
  clip-path: ellipse(85% 60% at 50% 40%);
  margin-bottom: 100px;
  &-container {
    max-width: 1694px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &-main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 62px;
  }
  &-content {
    max-width: 681px;
    width: 100%;
  }
  &-heading {
    font-size: 54px;
    font-weight: 700;
    line-height: calc(81/54);
    color: $primary-color;
    margin-bottom: 34px;
    span {
      color: $secondary-color;
    }
  }
  &-desc {
    max-width: 532px;
    font-size: 24px;
    line-height: 1.6;
    font-family: $font-secondary;
    margin-bottom: 52px;
    color: $gray-dark;
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 0 40px;
    .btn--primary {
      font-size: 24px;
      font-weight: 600;
      padding: 22px 38px;
    }
  }
}
.watch {
  display: flex;
  align-items: center;
  gap: 0 32px;
  &-text {
    color: $gray-darker;
    font-size: 24px;
    line-height: calc(36/24);
  }
  &-icon {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: white;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding-left: 8px;
    }
  }
}
@media screen and (min-width: 1280px) {
 .hero {
   &-content {
     transform: translateY(-80px);
   }
 }
}
@media screen and (max-width: 1279.98px) {
  .hero {
    &-heading {
      font-size: 40px;
      margin-bottom: 20px;
    }
    &-actions {
      gap: 30px;
      .btn {
        font-size: 20px;
        padding: 15px 25px;
      }
    }
  }
  .watch {
    gap: 20px;
    &-icon {
      width: 60px;
      height: 60px;
    }
    &-text {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .hero {
    margin-bottom: 80px;
    clip-path: ellipse(110% 60% at 50% 40%);
    &-main {
      flex-direction: column;
      padding-top: 40px;
    }
    &-content,
    &-desc {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    margin-bottom: 50px;
    clip-path: ellipse(130% 60% at 50% 40%);
    &-heading {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &-desc {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &-actions {
      flex-direction: column;
    }
  }
}
